@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  padding: 5rem;
}

body {
  font-size: 1.5rem;
}
.distribution {
  gap: 4rem;
}
.players-list {
  gap: 1.25rem;
}
.changements .player-info {
  font-size: 0.9rem;
}
nav span {
  font-size: 1.875rem;
}

.club-fields {
  gap: 9.5rem;
}

@media (max-width: 1024px) {
    .terrain {
      background-size: contain;
      background-repeat: round;
    }
    
  }
  
  @media (max-width: 769px) {
    html {
      font-size: 8px;
    }
    body {
      font-size: 1rem;
    }
    nav span {
      font-size: larger;
    }
    .distribution {
      gap: 1rem;
    }
    .home .add-icon svg {
      width: 20px;
    }
    main {
      padding: 3.5rem 1rem;
    }
    .terrain {
      height: 455px;
    }
    
    .home .placeholder-img {
      height: 10rem;
    }
    .cards .placeholder-img {
      height: 18rem;
    }
    .changements .placeholder-img {
      height: 7rem;
    }
    .changements .player-info {
      font-size: 0.6rem;
    }
    .changements .slot {
      top: 45%;
    }
    .formation {
      width: 15rem;
    }
    .add-icon {
      top: 50%;
    }
    .club-fields {
      gap: 6.5rem;
    }
    .slot {
      width: auto;
      top: 51%;
      height: fit-content;
    }
    button {
      font-size: 1rem;
    }
    .players {
      width: 80%;
      top: 13%;
    }
    .bench-con {
      height: fit-content;
    }
    .players-list .player-cards{
      margin: 1rem;
    }
    .terrain > div:first-child {
      height: 8rem;
    }
    .player-form {
      position: absolute;
      gap: 2rem;
      width: 60%;
    }
  }
  
  @media (max-width: 426px) {
    html {
      font-size: 6px;
    }
    .terrain {
      height: 340px;
      width: 395px;
      right: 4%;
      position: absolute;
    }
    main {
      padding: 2rem;
    }
    main > div:first-of-type {
      display: block;
    }
    .terrain .placeholder-img {
      height: 6rem;
    }
    .distribution > div {
      height: 5rem;
    }
    .distribution {
      gap: 1rem;
    }
    .terrain > div:first-of-type {
      height: 10rem;
    }
    .formation {
      width: 30rem;
      justify-self: center;
    }
    .formation-options {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .players {
      position: absolute;
      top: 132%;
      padding: 1rem;
      width: 90%;
    }
    .slot {
      width: auto;
      top: 41%;
      height: -moz-fit-content;
      height: fit-content;
  }
    .option {
      font-size: xx-small;
    }
    .player-info p {
      display: none;
    }
    .player-info {
      font-size: 0.6rem;
    }
    .player-cards {
      margin: 0;
    }
    .players-list .player-cards{
      margin: 0;
    }
    .home .add-icon div{
      font-size: 1.3rem;
    }
    .home  .add-icon svg {
      width: 18px;
    }
    .player-form {
      gap: 1.5rem;
    }
    .player-form .fut-player-card {
      display: none;
    }
    .player-form form {
      margin-bottom: 5rem;
    }
    .player-form form h3{
      margin-top: 0;
    }
    .player-form > div {
      align-self: end;
      position: absolute;
    }
    .home .placeholder-img {
        height: 8rem;
    }
    .btn-update {
      position: absolute;
      left: 106%;
      width: 8rem;
    }
  }
